@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Fundo escuro do Fortnite */
  color: white;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}